<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.BoardMapper">
	<insert id="boardInsert" parameterType="BoardDTO">
		<![CDATA[
			INSERT INTO BOARD 
			VALUES(SEQ_BOARD.NEXTVAL,#{id},#{name},#{email},#{subject},#{content},
			SEQ_BOARD.CURRVAL,0,0,0,0,0,SYSDATE)
		]]>
	</insert>
	
	<select id="getBoardList" parameterType="hashmap" resultType="BoardDTO">
		<![CDATA[
			SELECT SEQ,ID,NAME,EMAIL,SUBJECT,CONTENT,
			       REF,LEV,STEP,PSEQ,REPLY,HIT,TO_CHAR(LOGTIME,'YYYY.MM.DD')AS LOGTIME 
			FROM (SELECT ROWNUM RN, AA.* 
			      FROM (SELECT * FROM BOARD ORDER BY REF DESC,STEP ASC)AA)
			WHERE RN>=#{startNum} AND RN<=#{endNum}
		]]>
	</select>
	
	<select id="getTotalArticle" resultType="java.lang.Integer">
		<![CDATA[
			SELECT COUNT(*) FROM BOARD
		]]>
	</select>
	
	<update id="updateHit" parameterType="java.lang.Integer">
		<![CDATA[
			UPDATE BOARD SET HIT=HIT+1 WHERE SEQ=#{seq}
		]]>
	</update>
	
	<select id="getBoard" parameterType="java.lang.Integer" resultType="BoardDTO">
		<![CDATA[
			SELECT * FROM BOARD WHERE SEQ=#{seq}
		]]>
	</select>
	
	<update id="boardUpdate" parameterType="BoardDTO">
		<![CDATA[
			UPDATE BOARD 
			SET SUBJECT=#{subject},CONTENT=#{content},EMAIL=#{email} 
			WHERE SEQ=#{seq}
		]]>
	</update>
	
	<delete id="boardDelete" parameterType="java.lang.Integer">
		<![CDATA[
			DELETE BOARD WHERE SEQ=#{seq}
		]]>
	</delete>
	
	<insert id="boardReplyInsert" parameterType="BoardDTO">
      <![CDATA[
         INSERT INTO BOARD 
         VALUES(SEQ_BOARD.NEXTVAL,#{id},#{name},#{email},#{subject},#{content},
         #{ref},#{lev},#{step},#{seq},0,0,SYSDATE)
      ]]>
   </insert>
   
   	<update id="boardUpdateStep" parameterType="hashmap"> <!-- 글순서 -->
		<![CDATA[
			UPDATE BOARD 
			SET STEP=STEP+1
			WHERE REF=#{ref} and STEP>#{step} 
		]]>
	</update>
	
	<update id="boardUpdateReply" parameterType="java.lang.Integer"> <!-- 답글수 -->
		<![CDATA[
			UPDATE BOARD 
			SET REPLY=REPLY+1
			WHERE SEQ=#{seq} 
		]]>
	</update>
   
   <!-- 댓글 추가한 이후 글삭제에 추가된 부분 -->
   	<update id="boardReplyMinus" parameterType="java.lang.Integer">
		<![CDATA[
			 UPDATE BOARD SET REPLY=REPLY-1
			 WHERE SEQ=(SELECT PSEQ FROM BOARD WHERE SEQ=#{seq}
		]]>
	</update>
	
	<update id="boardOriginalDelete" parameterType="java.lang.Integer">
		<![CDATA[
			UPDATE BOARD SET SUBJECT='[원글이 삭제된 답글]'||SUBJECT WHERE PSEQ=#{seq} 
		]]>
	</update>
   
</mapper>













